body { 
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	color: #E4F1E9; 
	margin: 0px; 
}

table.main-table {
	width: 80%;
	height: 100%;
	border: 1px solid ButtonShadow;
	border-collapse: collapse;
}

div.top-bar {
	font-family: verdana,arial,helvetica,sans-serif;
	border: 1px solid ButtonShadow;
	margin: 2px;
	font-size: 12px;
	background-color: #ADBAD6; 
	color: ButtonText ;
	padding: 10px 10px 10px 10px;
	
}

a.toolbar-item {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	text-decoration: none; 
	margin: 10px;
	color: ButtonText;
	padding: 8px 8px 8px 8px;
	border: 1px solid #ADBAD6;
}

a.toolbar-item:hover {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	background-color: #E8E8FF; 
	text-decoration: none; 
	margin: 10px; 
	color: ButtonText;
	padding: 8px 8px 8px 8px;
	border-right: 1px solid ButtonShadow;
	border-bottom: 1px solid ButtonShadow;
	border-left: 1px solid white;
	border-top: 1px solid white;
}

a.toolbar-item:visited {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 12px;
	text-decoration: none; 
	margin: 10px;
	color: ButtonText;
	padding: 9px 9px 9px 9px;
	border-top: 1px black;
}

div.main-panel {
	margin: 10px;
	background-color: white; 
	color: ButtonText ;
	height: 100%;
}

div.code-section {
	margin: 5px;
	font-size: 12px;
	background-color: #E8E8FF; 
	color: ButtonText ;
	font-family: Courier New;
}

ul.one {
	list-style: square inside url('images/arrow.png');
}

ul.check-list {
	list-style: square inside url('images/check.png');
}

img.screenshot {
	border: 1px sold ButtonShadow;
}

img.rotation-arrow {
	
}

img.rotation-arrow:hover {
	cursor: pointer;
}

div.image-container {
	margin: 5px;
	background-color: white; 
	color: ButtonText ;
	overflow: hidden;
}
