<?xml version="1.0" encoding="UTF-8"?>
<LiteEditor>
 
  <!-- Layout -->
  <Layout>
    <Perspective Name="Default" Value="layout2|name=Output;caption=Output;state=6293500;dir=3;layer=1;row=0;pos=0;prop=100000;bestw=602;besth=498;minw=-1;minh=-1;maxw=-1;maxh=-1;floatx=-1;floaty=-1;floatw=-1;floath=-1|name=Workspace;caption=Workspace;state=6309884;dir=2;layer=1;row=0;pos=0;prop=100000;bestw=300;besth=400;minw=-1;minh=-1;maxw=-1;maxh=-1;floatx=6;floaty=49;floatw=308;floath=424|name=Editor;caption=;state=256;dir=5;layer=0;row=0;pos=0;prop=100000;bestw=20;besth=20;minw=-1;minh=-1;maxw=-1;maxh=-1;floatx=-1;floaty=-1;floatw=-1;floath=-1|dock_size(5,0,0)=20|dock_size(2,1,0)=302|dock_size(3,1,0)=276|"/>
  </Layout>
  <!-- Lexers -->
  <Lexers>
    <Lexer Name="Default">
      <Extensions/>
      <KeyWords/>
      <Properties>
        <Property Name="Default" Bold="no" Size="10" Face="Courier New" Colour="black"/>
      </Properties>
    </Lexer>
    <Lexer Name="Cpp">
      <Extensions>*.cpp;*.cxx;*.hpp;*.cc;*.h;*.c;</Extensions>
      <KeyWords>and and_eq asm auto bitand bitor bool break case catch char class compl const const_cast continue default delete do double dynamic_cast else enum explicit export extern false float for friend goto if inline int long mutable namespace new not not_eq operator or or_eq private protected public register reinterpret_cast return short signed Sizeof static static_cast struct switch template this throw true try typedef typeid typename union unsigned using virtual void volatile wchar_t while xor xor_eq</KeyWords>
      <Properties>
        <Property Name="wxSCI_C_DEFAULT" Bold="no" Size="10" Face="Courier New" Colour="medium blue"/>
        <Property Name="wxSCI_C_COMMENT" Bold="no" Size="10" Face="Courier New" Colour="FOREST GREEN"/>
        <Property Name="wxSCI_C_COMMENTLINE" Bold="no" Size="10" Face="Courier New" Colour="FOREST GREEN"/>
        <Property Name="wxSCI_C_COMMENTDOC" Bold="no" Size="10" Face="Courier New" Colour="FOREST GREEN"/>
        <Property Name="wxSCI_C_NUMBER" Bold="no" Size="10" Face="Courier New" Colour="medium blue"/>
        <Property Name="wxSCI_C_WORD" Bold="no" Size="10" Face="Courier New" Colour="medium blue"/>
        <Property Name="wxSCI_C_STRING" Bold="no" Size="10" Face="Courier New" Colour="grey"/>
        <Property Name="wxSCI_C_CHARACTER" Bold="no" Size="10" Face="Courier New" Colour="black"/>
        <Property Name="wxSCI_C_UUID" Bold="no" Size="10" Face="Courier New" Colour="medium blue"/>
        <Property Name="wxSCI_C_PREPROCESSOR" Bold="no" Size="10" Face="Courier New" Colour="salmon"/>
        <Property Name="wxSCI_C_OPERATOR" Bold="no" Size="10" Face="Courier New" Colour="black"/>
        <Property Name="wxSCI_C_IDENTIFIER" Bold="no" Size="10" Face="Courier New" Colour="black"/>
        <Property Name="wxSCI_C_STRINGEOL" Bold="no" Size="10" Face="Courier New" Colour="grey"/>
        <Property Name="wxSCI_C_VERBATIM" Bold="no" Size="10" Face="Courier New" Colour="medium blue"/>
        <Property Name="wxSCI_C_COMMENTLINEDOC" Bold="no" Size="10" Face="Courier New" Colour="FOREST GREEN"/>
        <Property Name="wxSCI_C_WORD2" Bold="no" Size="10" Face="Courier New" Colour="medium blue"/>
        <Property Name="wxSCI_C_COMMENTDOCKEYWORD" Bold="no" Size="10" Face="Courier New" Colour="blue"/>
        <Property Name="wxSCI_C_COMMENTDOCKEYWORDERROR" Bold="no" Size="10" Face="Courier New" Colour="red"/>
        <Property Name="wxSCI_C_GLOBALCLASS" Bold="no" Size="10" Face="Courier New" Colour="medium blue"/>
      </Properties>
    </Lexer>
  </Lexers>
</LiteEditor>
